<html>
    

    <head>
        <title>This is DISPLAY  PAGE FILE</title>
        <style>
            a {
   background-color: #00EB89;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    color: #FFFFFF;
    cursor:pointer;
  }
  
  a:hover {
    background-color: #555;
  }
  
  a:active {
    background-color: black;
  }
  
  a:visited {
    background-color: #ccc;
  }
  
        </style>
    </head>
    <body>
    
    {{name}}
    <form action="/demo">
      Remember the number  of video that you want to start streaming
      <input type="submit" value="Let's go">
    </form>
    
    </body>
   
</html>